<style>
  /* header {
    background-color: #a8e6cf;
    padding: 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  header li {
    margin-bottom: 0rem;
  }

  .mobile-view {
    display: none !important;
  }

  .web-view {
    display: flex !important;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 540px;
    margin-right: 10px;
    position: absolute;
  }

  .logo h1 {
    font-size: 24px;
    color: #2d6a4f;
  }

  .logo h1 span {
    color: #ff6f61;
  }

  .countdown-timer {
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #2d6a4f;
  }

  .countdown-timer span {
    font-weight: 600;
    color: #ff6f61;
  }

  .countdown-timer .timer-label {
    font-size: 12px;
    color: white;
    margin-right: 2px;
  }

  .countdown-timer .timer-value {
    font-size: 14px;
    color: #2d6a4f;
    ;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    width: 24px;
    text-align: center;
    padding: 3px 4px;
    border-radius: 3px;
    background: white;
  }

  .timer-box {
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
    background: #2d6a4f;
    text-align: center;
  }

  .header-submit-button {
    margin-top: -14px;
    text-align: center;
  }

  .header-submit-button a {
    padding: 3px 15px;
    background-color: #2d6a4f;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }

  .header-submit-button a:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    border: 1px solid #2d6a4f;
    color: #2d6a4f;
  }

  .news-tag {
    background: #f86e64;
    padding: 10px;
    margin-left: -10px;
    font-weight: 600;
  }

  .nav-menu {
    background-color: #2d6a4f;
    border-radius: 3px;
    padding: 10px 0;
    display: flex;
    padding-left: 6px
  }

  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  .nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3s;
  }

  .nav-menu ul li a:hover {
    color: #f86e64;
  }

  .menu-list {
    border-right: 1px solid white;
    padding-right: 10px;
  }

  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #2d6a4f;
  }

  .close-btn {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-end;
  }

  .news-ticker {
    background-color: #2d6a4f;
    color: white;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .news-ticker p {
    display: inline-block;
  }

  @keyframes scroll {
    0% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(-100%);
    }
  }


  @media (max-width: 768px) {

    .header-top {
      flex-wrap: wrap;
      gap: 10px;
    }

    .hamburger {
      display: block;
      margin-left: auto;
    }

    .nav-menu {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #2d6a4f;
      flex-direction: column;
      padding: 20px;
      transition: left 0.3s ease-in-out;
      z-index: 1000;
      margin: 0;
      border-radius: 0;
    }

    .nav-menu.active {
      left: 0;
    }

    .nav-menu ul {
      flex-direction: column;
      gap: 15px;
      text-align: center;
    }

    .nav-menu ul li a {
      font-size: 16px;
    }

    .close-btn {
      display: block;
    }

    .countdown-timer {
      font-size: 12px;
      gap: 5px;
      flex: 1;
      justify-content: center;
    }

    .countdown-timer .timer-label {
      font-size: 10px;
      margin-right: 1px;
    }

    .countdown-timer .timer-value {
      font-size: 12px;
      width: 20px;
    }

    .news-ticker {
      height: 35px;
      margin-top: 15px;
    }


  } */
</style>
<header>
  <% if(publicationTime) { %>
    <% publicationTimeISO=publicationTime.toISOString(); %>
      <% } %>
        <div class="header-top">
          <div class="logo">
            <!-- <img src="../../assets/images/epra_trust_logo.png" alt="EPRA Logo"> -->
            <img src="https://d3sakwxmd5onjg.cloudfront.net/images/epra_trust_logo.png" alt="EPRA Logo">
           <% if(isJournalPage) { %>
            journal heading
            <% } %>
            
            <!-- <h1>[Logo] EPRA Trust <span>Publishing</span></h1> -->
          </div>
          <div class="hamburger">☰</div>
          <!-- <div class="countdown-timer">
            <span>Next Publication In:</span>
            <span class="timer-label">Days:</span>
            <span class="timer-value" id="days">00</span>
            <span class="timer-label">Hours:</span>
            <span class="timer-value" id="hours">00</span>
            <span class="timer-label">Minutes:</span>
            <span class="timer-value" id="minutes">00</span>
            <span class="timer-label">Seconds:</span>
            <span class="timer-value" id="seconds">00</span>
          </div> -->
          <div>
            <div class="countdown-timer">
              <span style="text-align: center;">Next Publication In:</span>
              <div class="timer-box">
                <span class="timer-label">Days:</span>
                <span class="timer-value" id="days">00</span>
              </div>
              <div class="timer-box">
                <span class="timer-label">Hours:</span>
                <span class="timer-value" id="hours">00</span>
              </div>
              <div class="timer-box">
                <span class="timer-label">Minutes:</span>
                <span class="timer-value" id="minutes">00</span>
              </div>
              <div class="timer-box">
                <span class="timer-label">Seconds:</span>
                <span class="timer-value" id="seconds">00</span>
              </div>

            </div>
            <div class="header-submit-button">
              <br>
              <!-- <button href="./paperSubmission.html">Submit Your Paper</button> -->
              <a href="/submit-your-article">
                Submit Your Paper
                <i class="fa fa-external-link-alt"></i>
              </a>

            </div>
          </div>
        </div>
        <nav>
          <div class="nav-menu">
            <div class="close-btn">✖</div>
            <% if (!isJournalPage && !isArticlePage ) { %>
              <ul>
                   <li class="menu-list"><a href="/">Home</a></li>
                    <li class="menu-list"><a href="/pages/about-us">About Us</a></li>
                    <li class="menu-list"><a href="/pages/info-centre">Info Centre</a></li>
                    <li class="menu-list"><a href="/pages/publication-fee">Publication Fee</a></li>
                    <li class="menu-list"><a href="/indexing">Indexing</a></li>
                    <li class="menu-list"><a href="/pages/review-process">Review Process</a></li>
                    <li class="menu-list"><a href="/feedbacks">Feedback</a></li>
                    <li class="menu-list"><a href="#">E Payment</a></li>
                    <li class="menu-list"><a href="/contact-us">Contact Us</a></li>

                <!-- <li class="menu-list"><a href="#">Home</a></li>
                <li class="menu-list"><a href="#">About Us</a></li>
                <li class="menu-list"><a href="#">Editorial Board</a></li>
                <li class="menu-list"><a href="#">Info Centre</a></li>
                <li class="menu-list"><a href="#">Publication Fee</a></li>
                <li class="menu-list"><a href="#">Indexing</a></li>
                <li class="menu-list"><a href="#">Review Process</a></li>
                <li class="menu-list"><a href="#">Feedback</a></li>
                <li class="menu-list"><a href="#">Contact Us</a></li> -->
              </ul>
              <% } else { %>
                <ul>
                  <li class="menu-list"><a href="/">Home</a></li>
                  <li class="menu-list"><a href="/journal/<%=journalCode%>">Current Issue</a></li>
                  <li class="menu-list"><a href="/journal/<%=journalCode%>/date-schedule">Date Schedule</a></li>
                  <li class="menu-list"><a href="/journal/<%=journalCode%>/archives">Archives</a></li>
                  <li class="menu-list"><a href="/journal/<%=journalCode%>/about">About</a></li>
                  <li class="menu-list"><a href="/journal/<%=journalCode%>/editorial-team">Editorial Team</a></li>
                  <li class="menu-list"><a href="/journal/<%=journalCode%>/publication-fee">Publication Fee</a></li>
                </ul>
                <% } %>
          </div>
        </nav>
        <% if (!isJournalPage && !isArticlePage && sections && sections.NEWS && sections.NEWS.content) { %>
          <!-- <div class="news-ticker">
            <p id="news-scrolling">

            </p>
          </div> -->
          <div class="news-ticker">
            <span class="news-tag">News</span>
            <marquee onmouseover="this.stop()" onmouseout="this.start()">
              <div id="news-scrolling"> 
                <%= sections.NEWS.content %>  
              </div>
            </marquee>
          
          </div>
          <% } %>
</header>




<script>
  const hamburger = document.querySelector('.hamburger');
  const navMenu = document.querySelector('.nav-menu');
  const closeBtn = document.querySelector('.close-btn');

  var newsList = document.getElementById('news-scrolling');
  if (newsList) {
    newsList.innerHTML = newsList.textContent;
  }

  hamburger.addEventListener('click', () => {
    navMenu.classList.add('active');
  });

  closeBtn.addEventListener('click', () => {
    navMenu.classList.remove('active');
  });

  document.addEventListener('click', (e) => {
    const isClickInsideNav = navMenu.contains(e.target);
    const isClickOnHamburger = hamburger.contains(e.target);

    if (!isClickInsideNav && !isClickOnHamburger && navMenu.classList.contains('active')) {
      navMenu.classList.remove('active');
    }
  });

  // Timer
  async function updateCountdown() {
    const now = new Date();
    const publicationTime1 = new Date('<%= publicationTimeISO %>');
    const timeDifference = publicationTime1 - now;

    if (timeDifference <= 0) {

      document.getElementById('days').textContent = '00';
      document.getElementById('hours').textContent = '00';
      document.getElementById('minutes').textContent = '00';
      document.getElementById('seconds').textContent = '00';
      // document.getElementById('countdown-timer').innerHTML = '<p> Will be Announced Shortly!</p>';
      return;
    }

    const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

    document.getElementById('days').textContent = String(days).padStart(2, '0');
    document.getElementById('hours').textContent = String(hours).padStart(2, '0');
    document.getElementById('minutes').textContent = String(minutes).padStart(2, '0');
    document.getElementById('seconds').textContent = String(seconds).padStart(2, '0');
  }
  setInterval(updateCountdown, 1000);
  updateCountdown();
</script>