<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (page && page.page_title ) { %>

        <title>
            <%= page.page_title %>
        </title>
        <meta name="description" content="<%= page.meta_description %>">
        <meta name="keywords" content="<%= page.meta_keywords %>">

        <!-- Open Graph Tags -->
        <meta property="og:title" content="<%= page.og_title || page.page_title %>">
        <meta property="og:description" content="<%= page.og_description || page.meta_description %>">
        <meta property="og:image" content="<%= page.og_image %>">
        <meta property="og:url" content="<%= page.og_url %>">
        <meta property="og:type" content="<%= page.og_type || 'website' %>">
        <% } %>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <!-- <link rel="stylesheet" href="http://172.27.80.1:8080/style.css"> -->
            <link rel="stylesheet" href="https://d3bi0mljy2t1jb.cloudfront.net/style.css">
           
            <% if (page && page.header_scripts) { %>
                <%= page.header_scripts %>
                    <% } %>

                        <style>
                            
                            /* body {
                                max-width: 1800px;
                                margin: 0 auto !important; 
                            } */

                            .main-container {
                                display: flex;
                                flex-direction: row;
                                /* justify-content: space-between; */
                                justify-content: center;
                                padding: 20px;
                            }

                            .main-content-common-page {
                                width: 65%;
                                float: left;
                                padding: 15px;
                                background-color: #f9f9f9;
                                border-right: 1px solid #ddd;
                            }

                            .main-content-common-page h1 {
                                font-size: 18px;
                                color: #333;
                                margin-bottom: 15px;
                                border-bottom: 1px solid #d9dddb;
                                padding-bottom: 5px;
                            }

                            .right-sidebar {
                                width: 35%;
                                float: right;
                                padding: 15px;
                                background-color: #f9f9f9;
                                border-left: 1px solid #ddd;
                            }

                            .archive-width {
                                width: 30%;
                            }

                            .content-width {
                                width: 70%;
                            }

                            @media (max-width: 768px) {
                                .main-container {
                                    flex-direction: column;
                                    width: 100%;
                                }

                                .main-content-common-page,
                                .right-sidebar {
                                    width: 100%;
                                    float: none;
                                    border: none;
                                }

                                .main-content-common-page {
                                    padding: 10px;
                                    margin-bottom: 20px;
                                }

                                .archive-width {
                                    width: 100%;
                                }

                                .content-width {
                                    width: 100%;
                                }
                            }

                    
                        </style>
</head>

<body>
    <%- include('partials/header', { publicationTime }) %>
        <!-- <main> -->
        <div class="main-container">
            <% if (!isJournalPage && !isArticlePage) { %>
                <% if (page && page.content) { %>
                    <div class="main-content-common-page">
                        <h1>
                            <%= page.page_title %>
                        </h1>
                        <%- page.content %>
                    </div>
                <% } else { %>
                        <div class="main-content-common-page" style="text-align: center;">
                            <h1>Page Not Found</h1>
                            <p>The page you are looking for does not exist.</p>
                            <a href="/">Go to Home</a>
                            <!-- <%- include('./pageNotFound') %> -->
                        </div>
                <% }%>
                        <div class="right-sidebar">
                            <%- include('partials/rightSideBar', { sections } ) %>
                        </div>
            <% } else if (isJournalPage && !isArticlePage && !isJournalWisePage && !isFullpageArchive) { %>
                        <div class="main-content-common-page  content-width">
                            <%- include('partials/journalHome' ) %>
                        </div>

                        <div class="right-sidebar archive-width">
                            <%- include('partials/archives', { archives } ) %>
                        </div>

             <% } else if (isArticlePage) { %> 
                        <div>
                            <%- include('partials/articleView' ) %>
                        </div>
            <% } else if(isJournalWisePage) { %> 
                      <% if (page && page.content) { %>
                            <div class="main-content-common-page">
                                <h1>
                                    <%= page.page_title %>
                                </h1>
                                    <%- page.content %>
                            </div>
                        <% } else { %>
                            <div class="main-content-common-page" style="text-align: center;">
                                <h1>Page Not Found</h1>
                                <p>The page you are looking for does not exist.</p>
                                <a href="/">Go to Home</a>
                            </div>
                <% }%>
                        <div class="right-sidebar">
                            <%- include('partials/rightSideBar', { sections } ) %>
                        </div>
            <% } else if(isFullpageArchive) { %> 
                 <div class="main-content-common-page">
                                <h1>
                                    Archives
                                </h1>
                            <%- include('partials/archivesFullPage' ) %>

                            </div>
                 <div class="right-sidebar">
                            <%- include('partials/rightSideBar', { sections } ) %>
                </div>
            <% }%> 

        </div>
        <!-- </main> -->
        <footer>
            <%- include('partials/footer') %>
        </footer>
        <% if (page && page.footer_scripts) { %>
            <%= page.footer_scripts %>
                <% } %>
</body>

</html>